button[type="submit"] {
  margin-top: 10px;
  margin-left: 30px;
  cursor: pointer;
  font-size: 18px;
  background: #00ffbf;
  border: 1px solid #000000;
  color: #000000;
  width: 300px;
}

button[type="submit"]:hover {
  background: #2bd8ad;
}

.button-container {
  display: flex;
  justify-content: center;

}

.button-container1 {
  display: flex;
  justify-content: center;
}

p {
  margin-top: 10px;
}
